.footer{
  font-family: 'Roboto', sans-serif;
  height: 17vh;
  background: rgb(73, 73, 73);
  color: white;
  position: relative;
  @media screen and (max-width:450px) {
    height: 40vh;
  }

  @media (max-width:950px){
    grid-template-columns: repeat(1,1fr);
    height: 27vh;
  }
  @media screen and (max-height:600px) {
    height: 45vh;
  }
  &-social{
    padding: 1rem;
    @media (max-width:950px){
      text-align: center;
    }
    .social{
      width: 3rem;
      height: 3rem;
      margin-right: 1rem;
      
  }
  }
  
  &-all{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    @media (max-width:950px){
      top: 70%;
      left: 50%;
      transform: translate(-50%,-50%);
    }
  }
  &-logo{
    width: 2rem;
    height: 2rem;
  }

} 

.slicecode{
  margin: .5rem;
  width: 4rem;
  height: 3rem;
}