.showcase{
  height: 52vh;
  @include shadow;

  &__logo-main{
    
    width: 2rem;
    height: 2rem;
   
  }


 &__nav{
  font-size: 1.3rem;
  
  height: 5vh;
  color: white;
  background-color:rgb(158, 158, 158);
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: lighter;
  
  
  
   
  @media (max-width:1100px) {
    font-size: 1rem;
    height: 5vh;
 }
 @media screen and (max-width:600px) {
  height: 11vh;


 }
  ul{
    margin-top: 1rem;
    float: right;
    
    @media screen and (max-width:600px) {
      margin-top: 1.5rem;
      float: none;
      text-align: center;
     }
    
    li{
      
      display: inline;
      padding: .5rem;
      border-right: 1.5px rgb(206, 206, 206) dotted;
        
        &:hover{
          background-color: $color-space;
          color:rgb(230, 230, 230);
        }
      @media screen and (max-width:600px) {
    
        padding: 0 1rem;
       }
    }
    a{
      
      color: $color-space;
      text-decoration: none;

      &:hover{
        
        color:rgb(230, 230, 230);
      }
    }
    }
  }
 


  &__main{
    background-image: linear-gradient(
      to right bottom, 
    rgba(248, 177, 62, 0.185) ,
    rgba(129, 129, 129, 0.356)),
    url( "../img/show.jpg");
    

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height:47vh;
    position: relative;
    @media screen and (max-width:600px) {
      height: 42vh;
     }
    @media (min-width:601px)and(max-width:1100px) {
     height: 48vh;}
    
  } 

&__logo-logo{
  width: 18rem;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%,-50%);
  animation: logo ease 3s;
  @keyframes logo{
    0% {opacity: 0;}
    100%{opacity: 1;}
  }

  @media screen and (max-width:900px) {
    width: 14rem;
    height: 14rem;
  }
  }

 &__heading-primary{
  color: white;
  font-size: 2.8rem;
  font-weight: 100;
  padding:0 .4rem ;
  text-align: center;
  position: absolute;
  margin-top: 1rem;
  top: 88%;
  left: 50%;
  transform: translate(-50%,-85%);
  
  text-shadow: 2px 2px rgba(0, 0, 0, 0.808);


  @media screen and (max-width:1200px) {
   font-size: 1.8rem;
  }
 } 
}





.section{
  
  display: grid;
  grid-template-columns: repeat(2,1fr) ;
 
  height: 50vh;
  background-color: $color-background;
  @include shadow;
  
  @media (max-width:950px){
    grid-template-columns: repeat(1,1fr);
    height: 79vh;
  }
  @media screen and (max-width:500px){
   
    height: 70vh;
  }

  &__photo{
    
    
    &-container{
      height: 118%;
      display: grid;
      grid-template-columns: repeat(auto-fit,minmax(110px,1fr)) ;

      grid-gap: .5rem;
      margin: 1rem;
      align-items: center;
     
      
      
    }

   &-1{
    transform: translate(17% ,-64%);
    width: 100%;
    @include photo-respond;
    @include shadow;
    border-radius: 20%;
    z-index: 1;
    
  }

   &-2{
    transform: translate(-12% ,-10%);
    @include photo-respond;
    @include shadow;
    width: 100%;
    
    z-index: 2;
    border-radius: 20%;
   }
   &-3{
    transform: translate(-20% ,-40%);
    @include photo-respond;
    @include shadow;
    width: 100%;
    
    z-index: 1;
    border-radius: 20%;
   }

  
}
 
    

&__contact{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-family: 'Roboto', sans-serif;
  color: white;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(120px,1fr)) ;
  
  height: 30vh;
  background-color:rgb(158, 158, 158);

  @media (max-width:950px){
    grid-template-columns: repeat(1,1fr);
    height: 84vh;
  }
  
  &-contact{
    font-family: 'Roboto Condensed', sans-serif;
    padding: .6rem;
    border-right: 2px white dotted;

    li{
      font-size: .8rem;
    }
    @media (max-width:950px){
      border-bottom: 1px white dotted;
      border-right: none;
    }
  }
 &-icon{
   
   display: block;
   font-size: 1rem;
   margin: 1rem;
   text-align: left;
 }
 

  &-timeline{
    font-family: 'Roboto Condensed', sans-serif;
    padding: 1rem;
    border-right: 2px white dotted;
    @media (max-width:950px){
      border-bottom: 1px white dotted;
      border-right: none;
    }
    
    li{
      font-size: .8rem;
      list-style-type: none;
      padding: 0.4rem;
      
    }
  }

    &-map{
     
     position: relative;
     
     .map{
       position: relative;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
     }
    }
 

}
}
