.showcase{
  height: 52vh;
  @include shadow;

  &__logo-main{
    
    width: 2rem;
    height: 2rem;
   
  }


 &__nav{
  font-size: 1.3rem;
  font-weight: bold;
  height: 6vh;
  color: white;
  background-color:rgb(158, 158, 158);
  font-family: 'Roboto', sans-serif;
 
 
 
@media (max-width:1100px) {
    font-size: 1rem;
    height: 8vh;
 }
 
 @media screen and (max-width:700px) {
  height: 14vh;
  
 }

 @media screen and (max-height:400px) {
  height: 9vh;
}

  ul{
    margin-top: 1rem;
    float: right;
    
    @media screen and (max-width:700px) {
      margin-top: 1.5rem;
      float: none;
      text-align: center;
     
     }
    
    li{
      
      display: inline;
      padding: .5rem;
      border-right: 1.5px rgb(206, 206, 206) dotted;
        
        &:hover{
          background-color: $color-space;
          color:rgb(230, 230, 230);
        }
    
       @media screen and (max-width:600px) {
         font-size: .8rem;
        padding: 0 .5rem;
        letter-spacing: 1px;
       }
    }
    a{
      
      color: $color-space;
      text-decoration: none;
      text-shadow: 1px 1px 1px rgba(68, 68, 68, 0.719);

      &:hover{
        
        color:rgb(230, 230, 230);
      }
    }
    }

    .lang{
      font-size: .8rem;
      color: white;
      padding: .3rem;
      text-decoration: underline;
    text-underline-position: under;
      @media screen and (max-width:600px) {
        font-size: .7rem;
       
      }
   
      &:hover
      {
        background-color: $color-space;
      }
    }
  }
 


  &__main{
    background-image: linear-gradient(
      to right bottom, 
    rgba(248, 177, 62, 0.185) ,
    rgba(129, 129, 129, 0.356)),
    url( "../img/show-min.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height:46vh;
    position: relative;


    @media (min-width:601px)and(max-width:1100px) {
      height: 44vh;}

   @media screen and (max-width:700px) {
    height: 39vh;
    }
    @media screen and (max-height:400px) {
      height:43vh;
    }
  }
  
          
    
&__logo-logo{
  width: 14rem;
  height: 14rem;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%,-50%);
  animation: logo ease 3s;

  @keyframes logo{
    0% {opacity: 0;}
    100%{opacity: 1;}
  }

  
  @media (max-width:900px) {
    width: 12rem;
    height: 12rem;
  }
  @media screen and (max-width:600px) {
            width: 10rem;
            height: 10rem;
          }
          @media screen and (max-height:400px) {
            width: 7rem;
            height: 7rem;
          }
  }

 &__heading-primary{
  
  color: white;
  font-size: 3rem;
  font-weight: 100;
  
  text-align: center;
  position: absolute;
  margin-top: 1rem;
  top: 88%;
  left: 50%;
  transform: translate(-50%,-85%);
  text-shadow: 1px 1px rgba(0, 0, 0, 0.808);
  animation: heading ease 6s;


  @keyframes heading{
    0% {opacity: 0;}
    100%{opacity: 1;}
   
  }
  @media (max-width:1200px) {
    font-size: 2rem;
  }
 @media screen and (max-width:600px) {
       
  font-size: 1.4rem;
 }
   @media screen and (max-height:400px) {
         font-size: 1.3rem;
         padding-bottom: .5rem;
  }
 } 
}





.section{
  ::selection{
    background: $color-space;
    color: white;
  }
  display: grid;
  grid-template-columns: repeat(2,1fr) ;
 
  height: 71vh;
  background-color: $color-background;
  @include shadow;
  @media screen and ( max-width:950px){
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: repeat(2,1fr);
    height: 78vh;
  }
  
  @media screen and (max-height:600px) {
    height: 150vh;
  }
  

  &__photo{
   
    @media screen and (max-width: 950px){ 
      background-image: url("../img/curve-1-2x.png");
    }
    
    
    &-container{
      height:100%;
      display: grid;
      grid-template-columns: repeat(3,1fr) ;
      grid-template-rows: repeat(1,3fr);
      

      
      align-items: center;
     
     
    }

   &-1{
    transform: translate(36% ,-44%);
    width: 80%;
    
    @include shadow;
    border-radius: 20%;
    z-index: 1;
    
  }

   &-2{
    
   
    @include shadow;
    width: 80%;
    z-index: 2;
    border-radius: 20%;
    
   }
   &-3{
    transform: translate(-42% ,-30%);
    
    @include shadow;
    width:80%;
    
    z-index: 1;
    border-radius: 20%;
    
   }

  
}
 
    

&__contact{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-family: 'Roboto', sans-serif;
  color: white;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(120px,1fr)) ;
  
  height: 30vh;
  background-color:rgb(158, 158, 158);

  @media (max-width:950px){
    grid-template-columns: repeat(1,1fr);
    height: 75vh;
  }
 
  @media screen and (max-height:600px) {
    height: 150vh;
  }
  
  &-contact{
    font-family: 'Roboto Condensed', sans-serif;
    padding: .6rem;
    border-right: 2px white dotted;
    a{
      text-decoration: none;
      color: white;
    }
    li{
      font-size: .8rem;
    }
    @media (max-width:950px){
      border-bottom: 1px white dotted;
      border-right: none;
    }
  }
 &-icon{
   
   display: block;
   font-size: 1rem;
   margin: 1rem;
   text-align: left;
 }
 

  &-timeline{
    font-family: 'Roboto Condensed', sans-serif;
    padding: 1rem;
    border-right: 2px white dotted;
    @media (max-width:950px){
      border-bottom: 1px white dotted;
      border-right: none;
    }
    
    li{
      font-size: .8rem;
      list-style-type: none;
      padding: 0.4rem;
      
    }
  }

    &-map{
     
     position: relative;
     
     .map{
       width: 70%;
       height: 70%;
       position: relative;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      @media screen and (max-width:500px){
        width: 70%;
      }
      @media (max-width:950px){
        width: 80%;
      }
     }
    }
 

}
}

