.heading-primary{
  font-size: 2.5rem;
  padding: 1rem;
  
}

.heading-secondary{
  font-size: 1.5rem;
  padding:0 2rem;
  font-family: 'Roboto', sans-serif;
 
  @media screen and (max-width:1100px) {
    font-size: 1rem;
   }
}

.paragraph{
  padding: 1.2rem;
  font-family: 'Roboto', sans-serif;
  margin: 0 1rem;
  line-height: 1rem;

  &-icon{
    font-size: 1rem;
    padding: 1rem;
  }
}

h4{
  display: inline-block;
  font-weight: lighter;
  font-size: 1rem;
  margin-bottom: .5rem;
  font-family: 'caveat', cursive;
  
  @media screen and (max-width:600px) {
  display: block;
  text-align: center;
  text-decoration: underline;
  text-underline-position: under;
  
  }
}